<template>
    <h2>Задачи JavaScript</h2>

    <QuestionItem>
        <template v-slot:counter>1</template>
        <template v-slot:title>
            <p>Какое последнее значение выведет этот код? Почему?</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> i = <span class="hljs-number">3</span>;

<span class="hljs-keyword">while</span> (i) {
  alert( i-- );
}</code></pre>
        </template>
        <template v-slot:content>
            <p><code>Ответ: 1.</code></p>
            Каждое выполнение цикла уменьшает <code>i</code>. Проверка <code>while(i)</code> остановит цикл при <code>i = 0</code>.
            <p>Соответственно, будет такая последовательность шагов цикла («развернём» цикл):</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> i = <span class="hljs-number">3</span>;

alert(i--); <span class="hljs-comment">// выведет 3, затем уменьшит i до 2</span>

alert(i--) <span class="hljs-comment">// выведет 2, затем уменьшит i до 1</span>

alert(i--) <span class="hljs-comment">// выведет 1, затем уменьшит i до 0</span>

<span class="hljs-comment">// все, проверка while(i) не даст выполняться циклу дальше</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>2</template>
        <template v-slot:title>
            <p>Какие значения выведет цикл while?</p>
            <p>Для каждого цикла запишите, какие значения он выведет. Потом сравните с ответом.</p>
            <p>Оба цикла выводят <code>alert</code> с одинаковыми значениями или нет?</p>
            <p><code>1</code></p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>;
<span class="hljs-keyword">while</span> (++i &lt; <span class="hljs-number">5</span>) alert( i );</code></pre>
            <p><code>2</code></p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>;
<span class="hljs-keyword">while</span> (i++ <span class="xml"><span class="hljs-tag">&lt; <span class="hljs-attr">5</span>) <span class="hljs-attr">alert</span>( <span class="hljs-attr">i</span> );</span></span></code></pre>
        </template>
        <template v-slot:content>
            <h3><code>1. От 1 до 4</code></h3>
            <p>Первое значение: <code>i = 1</code>, так как операция <code>++i</code> сначала увеличит <code>i</code>, а потом уже произойдёт сравнение и выполнение alert.</p>
            <p>Далее <code>2, 3, 4…</code> Значения выводятся одно за другим. Для каждого значения сначала происходит увеличение, а потом – сравнение, так как <code>++</code> стоит перед переменной.</p>
            <p>При <code>i = 4</code> произойдёт увеличение <code>i</code> до <code>5</code>, а потом сравнение <code>while (5 &#60; 5)</code> – это неверно. Поэтому на этом цикл остановится, и значение <code>5</code> выведено не будет.</p>

            <br>

            <h3><code>2. От 1 до 5</code></h3>
            <p>Первое значение: <code>i = 1</code>. Остановимся на нём подробнее. Оператор <code>i++</code> увеличивает <code>i</code>, возвращая старое значение, так что в сравнении <code>i++ &#60; 5</code> будет участвовать <code>i = 0</code> (в отличие от <code>++i &#60; 5</code>).</p>
            <p>Но последующий вызов <code>alert</code> уже не относится к этому выражению, так что получит новый <code>i = 1</code>.</p>
            <p>Далее следуют <code>2, 3, 4…</code>.</p>
            <p>Остановимся на <code>i = 4</code>. Префиксная форма <code>++i</code> увеличила бы <code>i</code> и использовала бы в сравнении <code>5</code>. Но здесь мы имеем постфиксную форму <code>i++</code>, поэтому она увеличивает <code>i</code> до <code>5</code>, но возвращает старое значение. Таким образом, сравнение фактически равно <code>while (4 &#60; 5)</code> – <code>true</code>, поэтому срабатывает <code>alert</code>.</p>
            <p>Значение <code>i = 5</code> – последнее, так как на следующем шаге <code>while (5 &#60; 5)</code> – <code>false</code>.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>3</template>
        <template v-slot:title>
            <p>Какие значения выведет цикл <code>for</code>?</p>
            <p>Для каждого цикла запишите, какие значения он выведет. Потом сравните с ответом.</p>
            <p>Оба цикла выведут <code>alert</code> с одинаковыми значениями или нет?</p>
            <p><code>1</code></p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">5</span>; i++) alert( i );</code></pre>
            <p><code>2</code></p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">5</span>; ++i) alert( i );</code></pre>
        </template>
        <template v-slot:content>
            <h3><code>Ответ: от 0 до 4 в обоих случаях.</code></h3>
            <p>Такой результат обусловлен алгоритмом работы <code>for</code>:</p>
            <ol>
                <li>Выполнить единожды присваивание <code>i = 0</code> перед чем-либо (начало).</li>
                <li>Проверить условие <code>i &#60; 5</code></li>
                <li>Если <code>true</code> – выполнить тело цикла <code>alert(i)</code>, и затем <code>i++</code></li>
            </ol>
            <p>Увеличение <code>i++</code> выполняется отдельно от проверки условия <code>(2)</code>, значение <code>i</code> при этом не используется, поэтому нет никакой разницы между <code>i++</code> и <code>++i</code>.</p>
        </template>
    </QuestionItem>

    <!--
    <QuestionItem>
        <template v-slot:counter>0</template>
        <template v-slot:title>
            Title
        </template>
        <template v-slot:content>
            Content
        </template>
    </QuestionItem>
    -->

    <!-- < = &#60; -->
</template>

<script setup lang="ts">
import QuestionItem from '@/components/QuestionItem.vue';
</script>

<style lang="less"></style>
