<template>
    <h2>Основы JavaScript</h2>

    <QuestionItem>
        <template v-slot:counter>0</template>
        <template v-slot:title>
            Полезные ссылки
        </template>
        <template v-slot:content>
            <ol>
                <li><a href="https://developer.chrome.com/docs/devtools/" target="_blank">Руководство Chrome DevTools</a></li>
                <li>Руководство по стилю кода: <a href="https://github.com/airbnb/javascript" target="_blank">Airbnb JavaScript Style Guide</a> (есть <a href="https://leonidlebedev.github.io/javascript-airbnb/" target="_blank">перевод</a>)</li>
                <li>Автоматизированное средство проверки кода (линтер): <a href="https://eslint.org/" target="_blank">ESLint</a></li>
                <li>Документирование кода: <a href="https://jsdoc.app/" target="_blank">JSDoc</a></li>
            </ol>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>1</template>
        <template v-slot:title>
            <pre><code class="hljs xml"><span class="hljs-tag"><span class="hljs-tag"><span class="hljs-tag">&lt;</span></span><span class="hljs-name"><span class="hljs-tag"><span class="hljs-name"><span class="hljs-tag"><span class="hljs-name">script</span></span></span></span></span><span class="hljs-tag"><span class="hljs-tag"> </span></span><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">src</span></span></span></span></span><span class="hljs-tag"><span class="hljs-tag">=</span></span><span class="hljs-string"><span class="hljs-tag"><span class="hljs-string"><span class="hljs-tag"><span class="hljs-string">"file.js"</span></span></span></span></span><span class="hljs-tag"><span class="hljs-tag">&gt;</span></span></span>
  alert(1);
<span class="hljs-tag"><span class="hljs-tag"><span class="hljs-tag">&lt;/</span></span><span class="hljs-name"><span class="hljs-tag"><span class="hljs-name"><span class="hljs-tag"><span class="hljs-name">script</span></span></span></span></span><span class="hljs-tag"><span class="hljs-tag">&gt;</span></span></span></code></pre><p>Какой код выполнится первым? Из file.js или код внутри тега script?</p>
        </template>
        <template v-slot:content>
            <p>Если атрибут src установлен, содержимое тега <code>script</code> будет игнорироваться.</p>
            <p>В одном теге <code>script</code> нельзя использовать одновременно атрибут src и код внутри.</p>
            <pre><code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"file.js"</span>&gt;</span><span class="javascript">
  alert(<span class="hljs-number">1</span>); <span class="hljs-comment">// содержимое игнорируется, так как есть атрибут src</span>
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre><p>Нужно выбрать: либо внешний скрипт <code>script src="…"</code>, либо обычный код внутри тега <code>script</code>.</p>
            <p>Вышеприведённый пример можно разделить на два скрипта:</p>
            <pre><code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"file.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span>
  alert(1);
<span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>2</template>
        <template v-slot:title>
            <p>Что выведется?</p>
            <pre><code class="hljs less"><span class="hljs-selector-tag">alert</span>(<span class="hljs-string">'Hello'</span>)

<span class="hljs-selector-attr">[1, 2]</span><span class="hljs-selector-class">.forEach</span>(alert);</code></pre>
        </template>
        <template v-slot:content>
            <p>Выведется только первый <code>alert</code>, а затем мы получим ошибку.</p>
            <p>Это потому что JavaScript не вставляет точку с запятой перед квадратными скобками <code>[...]</code>. И поэтому код выполняется как одна инструкция.</p>
            <p>Вот как движок видит его:</p>
            <pre><code class="hljs less"><span class="hljs-selector-tag">alert</span>(<span class="hljs-string">'Hello'</span>)<span class="hljs-selector-attr">[1, 2]</span><span class="hljs-selector-class">.forEach</span>(alert);</code></pre><p>А если после alert бы поставили <code>;</code>, то все бы отработало хорошо и сначала бы получили <code>Hello</code>, затем <code>1</code>, затем <code>2</code>.</p>
            <p>А вообще конструкция <code>[1, 2].forEach(alert)</code> выглядит немного странно (для меня), но все хорошо, так как forEach в качестве первого аргумента принимает callback функцию, а <code>window.alert()</code> это и есть функция (метод объекта window), в которую передает параметры.</p>
            <pre><code class="hljs php">arr.<span class="hljs-keyword">forEach</span>(<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">callback</span><span class="hljs-params">(currentValue, index, array)</span> </span>{
    <span class="hljs-comment">//your iterator</span>
}[, thisArg]);</code></pre><p>Пример:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">test</span>(<span class="hljs-params">val, idx, arr</span>) </span>{
  <span class="hljs-built_in">console</span>.log(val, idx, arr);
}

[<span class="hljs-number">1</span>, <span class="hljs-number">2</span>].forEach(test);
<span class="hljs-comment">// 1 0 [1, 2]</span>
<span class="hljs-comment">// 2 1 [1, 2]</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>3</template>
        <template v-slot:title>
            Для чего нужен "use strict"?
        </template>
        <template v-slot:content>
            <p>На протяжении долгого времени JavaScript развивался без проблем с обратной совместимостью. Новые функции добавлялись в язык, в то время как старая функциональность не менялась.</p>
            <p>Преимуществом данного подхода было то, что существующий код продолжал работать. А недостатком – что любая ошибка или несовершенное решение, принятое создателями JavaScript, застревали в языке навсегда.</p>
            <p>Так было до 2009 года, когда появился ECMAScript 5 (ES5). Он добавил новые возможности в язык и изменил некоторые из существующих. Чтобы устаревший код работал, как и раньше, по умолчанию подобные изменения не применяются. Поэтому нам нужно явно их активировать с помощью специальной директивы: "use strict".</p>
            <p>Убедитесь, что «use strict» находится в начале!</p>
            <pre><code class="language-javascript hljs">alert(<span class="hljs-string">"some code"</span>);
<span class="hljs-comment">// "use strict" ниже игнорируется - он должен быть в первой строке</span>

<span class="hljs-meta">"use strict"</span>;

<span class="hljs-comment">// строгий режим не активирован</span></code></pre>
            <p><code>Нет никакого способа отменить use strict!</code></p>
            <p>use strict в консоли браузера по умолчанию выключен.</p>
            <p>При использовании <b>классов</b> и <b>модулей</b> строгий режим включается автоматически.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>4</template>
        <template v-slot:title>
            Определите тип данных:
            <pre><code class="hljs javascript"><span class="hljs-keyword">typeof</span> <span class="hljs-literal">undefined</span>
<span class="hljs-keyword">typeof</span> <span class="hljs-number">0</span>
<span class="hljs-keyword">typeof</span> <span class="hljs-number">10n</span>
<span class="hljs-keyword">typeof</span> <span class="hljs-literal">true</span>
<span class="hljs-keyword">typeof</span> <span class="hljs-string">"foo"</span>
<span class="hljs-keyword">typeof</span> <span class="hljs-built_in">Symbol</span>(<span class="hljs-string">"id"</span>)
<span class="hljs-keyword">typeof</span> <span class="hljs-built_in">Math</span>
<span class="hljs-keyword">typeof</span> <span class="hljs-literal">null</span>
<span class="hljs-keyword">typeof</span> alert</code></pre>
        </template>
        <template v-slot:content>
            <pre><code class="hljs javascript"><span class="hljs-keyword">typeof</span> <span class="hljs-literal">undefined</span> <span class="hljs-comment">// "undefined"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-number">0</span> <span class="hljs-comment">// "number"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-number">10n</span> <span class="hljs-comment">// "bigint"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-literal">true</span> <span class="hljs-comment">// "boolean"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-string">"foo"</span> <span class="hljs-comment">// "string"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-built_in">Symbol</span>(<span class="hljs-string">"id"</span>) <span class="hljs-comment">// "symbol"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-built_in">Math</span> <span class="hljs-comment">// "object"  (1)</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-literal">null</span> <span class="hljs-comment">// "object"  (2)</span>

<span class="hljs-keyword">typeof</span> alert <span class="hljs-comment">// "function"  (3)</span></code></pre><ol start="0">
            <li><code>Math</code> — это встроенный объект, который предоставляет математические операции и константы.</li>
            <li>Результатом вызова <code>typeof null</code> является <code>"object"</code>. Это официально признанная ошибка в <code>typeof</code>, ведущая начало с времён создания JavaScript и сохранённая для совместимости. Конечно, <code>null</code> не является объектом. Это специальное значение с отдельным типом.</li>
            <li>Вызов <code>typeof alert</code> возвращает <code>"function"</code>, потому что <code>alert</code> является функцией. В JavaScript нет специального типа «функция». Функции относятся к объектному типу. Но <code>typeof</code> обрабатывает их особым образом, возвращая <code>"function"</code>. Так тоже повелось от создания JavaScript. Формально это неверно, но может быть удобным на практике.</li>
        </ol>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>5</template>
        <template v-slot:title>
            Сколько типов данных в JavaScript?
        </template>
        <template v-slot:content>
            <p>Есть <code>восемь</code> основных типов данных в JavaScript.</p>
            <h2><code>1) Число</code></h2>
            <ul>
                <li>целочисленные значения;</li>
                <li>числа с плавающей точкой;</li>
                <li>специальные числовые значения, которые относятся к этому типу данных: <code>Infinity</code>, <code>-Infinity</code> и <code>NaN</code></li>
            </ul>
            <h2><code>2) BigInt</code></h2>
            <p>Два числа ниже одинаковые, хотя не должны:</p>
            <pre><code class="hljs cpp">console.<span class="hljs-built_in">log</span>(<span class="hljs-number">9007199254740991</span> + <span class="hljs-number">1</span>); <span class="hljs-comment">// 9007199254740992</span>
console.<span class="hljs-built_in">log</span>(<span class="hljs-number">9007199254740991</span> + <span class="hljs-number">2</span>); <span class="hljs-comment">// 9007199254740992</span></code></pre><p>В JavaScript тип <code>number</code> не может безопасно работать с числами, большими, чем <code>(2^53-1)</code> (т. е. <code>9007199254740991</code>) или меньшими, чем <code>-(2^53-1)</code> для отрицательных чисел.</p>
            <p>Если говорить совсем точно, то, технически, тип <code>number</code> может хранить большие целые числа (до <code>1.7976931348623157 * 10^308</code>), но за пределами безопасного диапазона целых чисел <code>±(2^53-1)</code> будет ошибка точности, так как не все цифры помещаются в фиксированную 64-битную память. Поэтому можно хранить «приблизительное» значение.</p>
            <p>Чтобы создать значение типа <code>BigInt</code>, необходимо добавить <code>n</code> в конец числового литерала:</p>
            <pre><code class="hljs cpp"><span class="hljs-comment">// символ "n" в конце означает, что это BigInt</span>
<span class="hljs-keyword">const</span> bigInt = <span class="hljs-number">1234567890123456789012345678901234567890</span>n;</code></pre><h2><code>3) Строка</code></h2>
            <h2><code>4) Булевый (логический) тип</code></h2>
            <h2><code>5) Значение «null»</code></h2>
            <p>В JavaScript null не является «ссылкой на несуществующий объект» или «нулевым указателем», как в некоторых других языках.</p>
            <p>Это просто специальное значение, которое представляет собой «ничего», «пусто» или «значение неизвестно».</p>
            <h2><code>6) Значение «undefined»</code></h2>
            <p>Оно означает, что «значение не было присвоено».</p>
            <p>Если переменная объявлена, но ей не присвоено никакого значения, то её значением будет undefined.</p>
            <h2><code>7) Объекты</code></h2>
            <p>Тип <code>object</code> (объект) – особенный.</p>
            <p>Все остальные типы называются «примитивными», потому что их значениями могут быть только простые значения (будь то строка, или число, или что-то ещё). В объектах же хранят коллекции данных или более сложные структуры.</p>
            <h2><code>8) Символы</code></h2>
            <p>Тип <code>symbol</code> (символ) используется для создания уникальных идентификаторов в объектах.</p>
            <pre><code class="hljs javascript"><span class="hljs-keyword">typeof</span> <span class="hljs-literal">undefined</span> <span class="hljs-comment">// "undefined"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-number">0</span> <span class="hljs-comment">// "number"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-number">10n</span> <span class="hljs-comment">// "bigint"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-literal">true</span> <span class="hljs-comment">// "boolean"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-string">"foo"</span> <span class="hljs-comment">// "string"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-built_in">Symbol</span>(<span class="hljs-string">"id"</span>) <span class="hljs-comment">// "symbol"</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-built_in">Math</span> <span class="hljs-comment">// "object"  (1)</span>

<span class="hljs-keyword">typeof</span> <span class="hljs-literal">null</span> <span class="hljs-comment">// "object"  (2)</span>

<span class="hljs-keyword">typeof</span> alert <span class="hljs-comment">// "function"  (3)</span></code></pre><ol start="0">
            <li><code>Math</code> — это встроенный объект, который предоставляет математические операции и константы.</li>
            <li>Результатом вызова <code>typeof null</code> является <code>"object"</code>. Это официально признанная ошибка в <code>typeof</code>, ведущая начало с времён создания JavaScript и сохранённая для совместимости. Конечно, <code>null</code> не является объектом. Это специальное значение с отдельным типом.</li>
            <li>Вызов <code>typeof alert</code> возвращает <code>"function"</code>, потому что <code>alert</code> является функцией. В JavaScript нет специального типа «функция». Функции относятся к объектному типу. Но <code>typeof</code> обрабатывает их особым образом, возвращая <code>"function"</code>. Так тоже повелось от создания JavaScript. Формально это неверно, но может быть удобным на практике.</li>
        </ol>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>6</template>
        <template v-slot:title>
            Какой результат? <code>alert( 1 / 0 );</code>
        </template>
        <template v-slot:content>
            <code>Infinity</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>7</template>
        <template v-slot:title>
            Какой результат? <code>alert( "не число" / 2 );</code>
        </template>
        <template v-slot:content>
            <code>NaN</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>8</template>
        <template v-slot:title>
            Если где-то в математическом выражении есть <code>NaN</code>, то оно распространяется на весь результат. Есть ли исключения и если есть, то какие?
        </template>
        <template v-slot:content>
            Есть только одно исключение: <code>NaN ** 0</code> равно <code>1</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>9</template>
        <template v-slot:title>
            Number("   123   ")?
        </template>
        <template v-slot:content>
            <p>123</p>
            <p>Пробельные символы (пробелы, знаки табуляции <code>\t</code>, знаки новой строки <code>\n</code> и т. п.) по краям обрезаются. Далее, если остаётся пустая строка, то получаем <code>0</code>, иначе из непустой строки «считывается» число.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>10</template>
        <template v-slot:title>
            Number("123z")?
        </template>
        <template v-slot:content>
            NaN (ошибка чтения числа на месте символа "z")
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>11</template>
        <template v-slot:title>
            Number(true)?
        </template>
        <template v-slot:content>
            1
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>12</template>
        <template v-slot:title>
            Number(false)?
        </template>
        <template v-slot:content>
            0
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>13</template>
        <template v-slot:title>
            Number(null)?
        </template>
        <template v-slot:content>
            0
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>14</template>
        <template v-slot:title>
            Number(undefined)?
        </template>
        <template v-slot:content>
            NaN
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>15</template>
        <template v-slot:title>
            Boolean("")?
        </template>
        <template v-slot:content>
            <code>false</code>
            <p>- Значения, которые интуитивно «пустые», вроде <code>0</code>, пустой строки, <code>null</code>, <code>undefined</code> и <code>NaN</code>, становятся <code>false</code>.</p>
            <p>- Все остальные значения становятся <code>true</code>.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>16</template>
        <template v-slot:title>
            Boolean(" ")?
        </template>
        <template v-slot:content>
            пробел это тоже <code>true</code> (любая непустая строка это true)
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>17</template>
        <template v-slot:title>
            Boolean("0")?
        </template>
        <template v-slot:content>
            <code>true</code> (любая непустая строка это true)
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>18</template>
        <template v-slot:title>
            Что такое операнд?
        </template>
        <template v-slot:content>
            Операнд – то, к чему применяется оператор. Например, в умножении <code>5 * 2</code> есть два операнда: левый операнд равен <code>5</code>, а правый операнд равен <code>2</code>. Иногда их называют «аргументами» вместо «операндов».
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>19</template>
        <template v-slot:title>
            Что такое унарный оператор?
        </template>
        <template v-slot:content>
            <p>Унарным называется оператор, который применяется к одному операнду. Например, оператор унарный минус <code>"-"</code> меняет знак числа на противоположный:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> x = <span class="hljs-number">1</span>;

x = -x;
alert( x ); <span class="hljs-comment">// -1, применили унарный минус</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>20</template>
        <template v-slot:title>
            Что такое бинарный оператор?
        </template>
        <template v-slot:content>
            <p>Бинарным называется оператор, который применяется к двум операндам. Тот же минус существует и в бинарной форме:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> x = <span class="hljs-number">1</span>, y = <span class="hljs-number">3</span>;
alert( y - x ); <span class="hljs-comment">// 2, бинарный минус вычитает значения</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>21</template>
        <template v-slot:title>
            2 + 2 + '1'?
        </template>
        <template v-slot:content>
            будет <code>"41"</code>, а не <code>"221"</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>22</template>
        <template v-slot:title>
            +true
        </template>
        <template v-slot:content>
            <code>1</code>
            <p>На самом деле это то же самое, что и <code>Number(...)</code>, только короче.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>23</template>
        <template v-slot:title>
            +""
        </template>
        <template v-slot:content>
            <code>0</code>
            <p>На самом деле это то же самое, что и <code>Number(...)</code>, только короче.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>24</template>
        <template v-slot:title>
            3 > 2 > 1?
        </template>
        <template v-slot:content>
            вернёт <code>false</code>, потому что <code>3 > 2</code> возвращает <code>true</code>, в свою очередь <code>true > 1</code> вернёт <code>false</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>25</template>
        <template v-slot:title>
            <pre><code class="hljs cs"><span class="hljs-keyword">let</span> counter = <span class="hljs-number">1</span>;
<span class="hljs-keyword">let</span> a = counter++; (*)

alert(a); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            <code>1</code>
            <p>В строке <code>(*)</code> постфиксная форма <code>counter++</code> также увеличивает <code>counter</code>, но возвращает старое значение (которое было до увеличения). Так что alert покажет <code>1</code>.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>26</template>
        <template v-slot:title>
            <pre><code class="hljs cs"><span class="hljs-keyword">let</span> counter = <span class="hljs-number">1</span>;
<span class="hljs-keyword">let</span> a = ++counter; <span class="hljs-comment">// (*)</span>

alert(a); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            В строке <code>(*)</code> префиксная форма <code>++counter</code> увеличивает <code>counter</code> и возвращает новое значение <code>2</code>. Так что alert покажет <code>2</code>.
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>27</template>
        <template v-slot:title>
            <pre><code class="hljs cs"><span class="hljs-keyword">let</span> counter = <span class="hljs-number">0</span>;
counter++;
++counter;
alert( counter ); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            <p><code>2</code>, обе строки сделали одно и то же</p>
            <p>Если результат оператора не используется, а нужно только увеличить/уменьшить переменную, тогда без разницы, какую форму использовать</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>28</template>
        <template v-slot:title>
            <pre><code class="hljs cs"><span class="hljs-keyword">let</span> counter = <span class="hljs-number">0</span>;
alert( ++counter ); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            <code>1</code>
            <p>Если хочется тут же использовать результат, то нужна префиксная форма</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>29</template>
        <template v-slot:title>
            <pre><code class="hljs cs"><span class="hljs-keyword">let</span> counter = <span class="hljs-number">0</span>;
alert( counter++ ); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            <code>0</code>
            <p>Если нужно увеличить и при этом получить значение переменной до увеличения – нужна постфиксная форма</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>30</template>
        <template v-slot:title>
            <pre><code class="hljs cs"><span class="hljs-keyword">let</span> counter = <span class="hljs-number">1</span>;
alert( <span class="hljs-number">2</span> * ++counter ); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            <code>4</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>31</template>
        <template v-slot:title>
            <pre><code class="hljs cs"><span class="hljs-keyword">let</span> counter = <span class="hljs-number">1</span>;
alert( <span class="hljs-number">2</span> * counter++ ); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            <code>2</code>, потому что <code>counter++</code> возвращает "старое" значение
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>32</template>
        <template v-slot:title>
            <pre><code class="hljs swift"><span class="hljs-keyword">let</span> a, b, <span class="hljs-built_in">c</span>;

a = b = <span class="hljs-built_in">c</span> = <span class="hljs-number">2</span> + <span class="hljs-number">2</span>;

alert( a ); <span class="hljs-comment">// ???</span>
alert( b ); <span class="hljs-comment">// ???</span>
alert( <span class="hljs-built_in">c</span> ); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            <p>У всех ответ <code>4</code></p>
            <p>Такое присваивание работает справа налево. Сначала вычисляется самое правое выражение <code>2 + 2</code>, и затем результат присваивается переменным слева: <code>c</code>, <code>b</code> и <code>a</code>. В конце у всех переменных будет одно значение.</p>
            <h3><code>Присваивание = возвращает значение</code></h3>
            <p>Большинство операторов в JavaScript возвращают значение. Для некоторых это очевидно, например сложение <code>+</code> или умножение <code>*</code>. Но и оператор присваивания не является исключением.</p>
            <p>Вызов <code>x = value</code> записывает <code>value</code> в <code>x</code> и <i><b>возвращает</b></i> его.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>33</template>
        <template v-slot:title>
            Чему будут равны переменные <code>a</code>, <code>b</code>, <code>c</code> и <code>d</code> в примере ниже?
            <pre><code class="hljs swift"><span class="hljs-keyword">let</span> a = <span class="hljs-number">1</span>, b = <span class="hljs-number">1</span>;

<span class="hljs-keyword">let</span> <span class="hljs-built_in">c</span> = ++a; <span class="hljs-comment">// ?</span>
<span class="hljs-keyword">let</span> d = b++; <span class="hljs-comment">// ?</span></code></pre>
        </template>
        <template v-slot:content>
            <p><code>a = 2</code></p>
            <p><code>b = 2</code></p>
            <p><code>c = 2</code></p>
            <p><code>d = 1</code></p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>34</template>
        <template v-slot:title>
            "" + 1 + 0?
        </template>
        <template v-slot:content>
            <code>"10"</code>
            <p>Сложение со строкой <code>"" + 1</code> преобразует <code>1</code> к строке: <code>"" + 1 = "1"</code>, и в следующем случае <code>"1" + 0</code> работает то же самое правило.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>35</template>
        <template v-slot:title>
            "" - 1 + 0?
        </template>
        <template v-slot:content>
            <code>-1</code>
            <p>Вычитание <code>-</code> (как и большинство математических операторов) работает только с числами, пустая строка <code>""</code> приводится к <code>0</code>.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>36</template>
        <template v-slot:title>
            "  -9  " + 5?
        </template>
        <template v-slot:content>
            <code>"  -9  5"</code>
            <p>Сложение со строкой превращает число <code>5</code> в строку и добавляет к строке.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>37</template>
        <template v-slot:title>
            null + 1?
        </template>
        <template v-slot:content>
            <code>1</code>
            <p><code>null</code> становится <code>0</code> после численного преобразования.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>38</template>
        <template v-slot:title>
            undefined + 1?
        </template>
        <template v-slot:content>
            <code>NaN</code>
            <p><code>undefined</code> становится <code>NaN</code> после численного преобразования.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>39</template>
        <template v-slot:title>
            " \t \n" - 2?
        </template>
        <template v-slot:content>
            <code>-2</code>
            <p>Пробельные символы, такие как <code>\t</code> и <code>\n</code>, по краям строки игнорируются при преобразовании в число, так что строка <code>" \t \n"</code>, аналогично пустой строке, становится <code>0</code> после численного преобразования.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>40</template>
        <template v-slot:title>
            '2' > 1?
        </template>
        <template v-slot:content>
            <code>true</code>
            <p>При сравнении значений разных типов JavaScript приводит каждое из них к числу.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>41</template>
        <template v-slot:title>
            '01' == 1?
        </template>
        <template v-slot:content>
            <code>true</code>
            <p>При сравнении значений разных типов JavaScript приводит каждое из них к числу.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>42</template>
        <template v-slot:title>
            true == 1?
        </template>
        <template v-slot:content>
            <code>true</code>
            <p>При сравнении значений разных типов JavaScript приводит каждое из них к числу.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>43</template>
        <template v-slot:title>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> a = <span class="hljs-number">0</span>;
alert( <span class="hljs-built_in">Boolean</span>(a) ); <span class="hljs-comment">// ???</span>

<span class="hljs-keyword">let</span> b = <span class="hljs-string">"0"</span>;
alert( <span class="hljs-built_in">Boolean</span>(b) ); <span class="hljs-comment">// ???</span>

alert(a == b); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> a = <span class="hljs-number">0</span>;
alert( <span class="hljs-built_in">Boolean</span>(a) ); <span class="hljs-comment">// false</span>

<span class="hljs-keyword">let</span> b = <span class="hljs-string">"0"</span>;
alert( <span class="hljs-built_in">Boolean</span>(b) ); <span class="hljs-comment">// true</span>

alert(a == b); <span class="hljs-comment">// true!</span></code></pre>
            <br>
            С точки зрения JavaScript, результат ожидаем. Равенство преобразует значения, используя числовое преобразование, поэтому <code>"0"</code> становится <code>0</code>. В то время как явное преобразование с помощью <code>Boolean</code> использует другой набор правил.
            <p>При сравнении значений разных типов JavaScript приводит каждое из них к числу.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>44</template>
        <template v-slot:title>
            null === undefined?
        </template>
        <template v-slot:content>
            <code>false</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>45</template>
        <template v-slot:title>
            null == undefined?
        </template>
        <template v-slot:content>
            <code>true</code>
            <p><b>При нестрогом равенстве <code>==</code></b> эти значения равны друг другу и не равны никаким другим значениям. <b>Это специальное правило языка.</b></p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>46</template>
        <template v-slot:title>
            <p><code>null > 0?</code></p>
            <p><code>null == 0?</code></p>
            <p><code>null >= 0?</code></p>
        </template>
        <template v-slot:content>
            <pre><code class="language-javascript hljs">alert( <span class="hljs-literal">null</span> &gt; <span class="hljs-number">0</span> );  <span class="hljs-comment">// (1) false</span>
alert( <span class="hljs-literal">null</span> == <span class="hljs-number">0</span> ); <span class="hljs-comment">// (2) false</span>
alert( <span class="hljs-literal">null</span> &gt;= <span class="hljs-number">0</span> ); <span class="hljs-comment">// (3) true</span></code></pre>
            <p>С точки зрения математики это странно. Результат последнего сравнения говорит о том, что "<code>null</code> больше или равно нулю", тогда результат одного из сравнений выше должен быть <code>true</code>, но они оба ложны.</p>
            <p>Причина в том, что нестрогое равенство и сравнения <code>> >= &lt; &lt;=</code> работают по-разному. Сравнения преобразуют <code>null</code> в число, рассматривая его как <code>0</code>. Поэтому выражение (3) <code>null >= 0</code> истинно, а <code>null > 0</code> ложно.</p>
            <p>С другой стороны, для нестрогого равенства <code>==</code> значений <code>undefined</code> и <code>null</code> действует особое правило: эти значения ни к чему не приводятся, они равны друг другу и не равны ничему другому. Поэтому (2) <code>null == 0</code> ложно.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>47</template>
        <template v-slot:title>
            <p><code>undefined > 0?</code></p>
            <p><code>undefined &lt; 0?</code></p>
            <p><code>undefined == 0?</code></p>
        </template>
        <template v-slot:content>
            <pre><code class="language-javascript hljs">alert( <span class="hljs-literal"><span class="hljs-literal">undefined</span></span> &gt; <span class="hljs-number"><span class="hljs-number">0</span></span> ); <span class="hljs-comment"><span class="hljs-comment">// false (1)</span></span>
alert( <span class="hljs-literal"><span class="hljs-literal">undefined</span></span> &lt; <span class="hljs-number"><span class="hljs-number">0</span></span> ); <span class="hljs-comment"><span class="hljs-comment">// false (2)</span></span>
alert( <span class="hljs-literal"><span class="hljs-literal">undefined</span></span> == <span class="hljs-number"><span class="hljs-number">0</span></span> ); <span class="hljs-comment"><span class="hljs-comment">// false (3)</span></span></code></pre>
            <p>Сравнения (1) и (2) возвращают <code>false</code>, потому что <code>undefined</code> преобразуется в <code>NaN</code>, а <code>NaN</code> – это специальное числовое значение, которое возвращает <code>false</code> при любых сравнениях.</p>
            <p>Нестрогое равенство (3) возвращает <code>false</code>, потому что <code>undefined</code> равно только <code>null</code>, <code>undefined</code> и ничему больше</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>48</template>
        <template v-slot:title>
            "2" > "12"?
        </template>
        <template v-slot:content>
            <code>true</code>
            <p>Используется посимвольное сравнение. Первый символ первой строки <code>"2"</code> больше, чем первый символ второй <code>"1"</code>.</p>
            <h3>При сравнении значений <code>разных типов</code> JavaScript приводит каждое из них к числу.</h3>
            <p>В этом же примере типы одинаковые, поэтому к числу они не приводятся</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>49</template>
        <template v-slot:title>
            null == "\n0\n"?
        </template>
        <template v-slot:content>
            <code>false</code>
            <p>Значения <code>null</code> и <code>undefined</code> равны только друг другу при нестрогом сравнении.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>50</template>
        <template v-slot:title>
            Что делает <code>||</code>?
        </template>
        <template v-slot:content>
            <h3><code>ИЛИ "||"</code> находит первое истинное значение</h3>
            <p>Оператор <code>||</code> выполняет следующие действия:</p>
            <ul>
                <li>Вычисляет операнды слева направо.</li>
                <li>Каждый операнд конвертирует в логическое значение. Если результат <code>true</code>, останавливается и возвращает исходное значение этого операнда.</li>
                <li>Если все операнды являются ложными (<code>false</code>), возвращает последний из них.</li>
            </ul>
            <p>Значение возвращается в исходном виде, без преобразования.</p>
            <p>Другими словами, цепочка ИЛИ <code>||</code> возвращает первое истинное значение или последнее, если такое значение не найдено.</p>
            <pre><code class="language-javascript hljs">alert( <span class="hljs-number">1</span> || <span class="hljs-number">0</span> ); <span class="hljs-comment">// 1 (1 - истинное значение)</span>
alert( <span class="hljs-literal">true</span> || <span class="hljs-string">'какая-то строка'</span> ); <span class="hljs-comment">// true</span>

alert( <span class="hljs-literal">null</span> || <span class="hljs-number">1</span> ); <span class="hljs-comment">// 1 (первое истинное значение)</span>
alert( <span class="hljs-literal">null</span> || <span class="hljs-number">0</span> || <span class="hljs-number">1</span> ); <span class="hljs-comment">// 1 (первое истинное значение)</span>
alert( <span class="hljs-literal">undefined</span> || <span class="hljs-literal">null</span> || <span class="hljs-number">0</span> ); <span class="hljs-comment">// 0 (поскольку все ложно, возвращается последнее значение)</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>51</template>
        <template v-slot:title>
            Что делает <code>||=</code>?
        </template>
        <template v-slot:content>
            <pre><code class="language-javascript hljs">a ||= b;</code></pre>
            <p>Оператор <code>||=</code> принимает два операнда и выполняет следующие действия:</p>
            <ul>
                <li>Вычисляет операнды слева направо.</li>
                <li>Конвертирует <code>a</code> в логическое значение.</li>
                <li>Если <code>a</code> ложно, присваивает <code>a</code> значение <code>b</code>.</li>
            </ul>
            <p>Теперь давайте перепишем <code>a ||= b</code> под вид «сокращённого вычисления»:</p>
            <pre><code class="language-javascript hljs">a || (a = b);</code></pre>
            <p>ИЛИ <code>||</code> возвращает первое истинное значение, поэтому, если <code>a</code> является таковым, вычисление до правой части выражения не дойдёт.</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> johnHasCar = <span class="hljs-literal">false</span>;

johnHasCar ||= <span class="hljs-string">"У Джона нет машины!"</span>; <span class="hljs-comment">// то же самое, что false || (johnHasCar = "...")</span>

alert( johnHasCar ); <span class="hljs-comment">// "У Джона нет машины!"</span>

<span class="hljs-comment">// Мы можем переписать приведённые выше примеры с использованием обычного if:</span>

<span class="hljs-keyword">let</span> johnHasCar = <span class="hljs-literal">false</span>;

<span class="hljs-keyword">if</span> (johnHasCar == <span class="hljs-literal">false</span>) {
  johnHasCar = <span class="hljs-string">"У Джона нет машины!"</span>;
}

alert(johnHasCar); <span class="hljs-comment">// "У Джона нет машины!"</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>52</template>
        <template v-slot:title>
            1 && 0?
        </template>
        <template v-slot:content>
            <code>0</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>53</template>
        <template v-slot:title>
            1 && 5?
        </template>
        <template v-slot:content>
            <code>5</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>54</template>
        <template v-slot:title>
            null && 5?
        </template>
        <template v-slot:content>
            <code>null</code>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>55</template>
        <template v-slot:title>
            Что делает <code>&&</code>?
        </template>
        <template v-slot:content>
            <h3>И <code>«&&»</code> находит первое ложное значение</h3>
            <p>Оператор <code>&&</code> выполняет следующие действия:</p>
            <ul>
                <li>Вычисляет операнды слева направо.</li>
                <li>Каждый операнд преобразует в логическое значение. Если результат <code>false</code>, останавливается и возвращает исходное значение этого операнда.</li>
                <li>Если все операнды были истинными, возвращается последний.</li>
            </ul>
            <p>Другими словами, И возвращает первое ложное значение. Или последнее, если ничего не найдено.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>56</template>
        <template v-slot:title>
            У кого больше приоритет у <code>&&</code> или <code>||</code>?
        </template>
        <template v-slot:content>
            <p>Приоритет оператора <code>&&</code> больше, чем у <code>||</code></p>
            <p>Таким образом, код <code>a && b || c && d</code> по существу такой же, как если бы выражения <code>&&</code> были в круглых скобках: <code>(a && b) || (c && d)</code>.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>57</template>
        <template v-slot:title>
            Что делает <code>&&=</code>?
        </template>
        <template v-slot:content>
            <pre><code class="language-javascript hljs">a &amp;&amp;= b;</code></pre>
            <p>Принцип действия <code>&&=</code> практически такой же, как и у оператора логического присваивания ИЛИ <code>||=</code>. Единственное отличие заключается в том, что <code>&&=</code> присвоит <code>a</code> значение <code>b</code> только в том случае, если <code>a</code> истинно.</p>
            <pre><code class="language-javascript hljs">a &amp;&amp; (a = b);</code></pre>
            <p>Пример:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> greeting = <span class="hljs-string">"Привет"</span>; <span class="hljs-comment">// строка непустая, поэтому будет преобразована к логическому значению true оператором &amp;&amp;=</span>

greeting &amp;&amp;= greeting + <span class="hljs-string">", пользователь!"</span>; <span class="hljs-comment">// то же самое, что true &amp;&amp; (greeting = greeting + "...")</span>

alert( greeting ) <span class="hljs-comment">// "Привет, пользователь!"</span>

<span class="hljs-comment">// или</span>

<span class="hljs-keyword">let</span> greeting = <span class="hljs-string">"Привет"</span>;

<span class="hljs-keyword">if</span> (greeting) {
  greeting = greeting + <span class="hljs-string">", пользователь!"</span>
}

alert( greeting ) <span class="hljs-comment">// "Привет, пользователь!"</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>58</template>
        <template v-slot:title>
            У кого больше приоритет у <code>||</code> или <code>&&</code> или <code>!</code>?
        </template>
        <template v-slot:content>
            Приоритет НЕ <code>!</code> является наивысшим из всех логических операторов, поэтому он всегда выполняется первым, перед <code>&&</code> или <code>||</code>.
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>59</template>
        <template v-slot:title>
            Что выведет код ниже?
            <pre><code class="language-javascript hljs">alert( alert(<span class="hljs-number">1</span>) || <span class="hljs-number">2</span> || alert(<span class="hljs-number">3</span>) );</code></pre>
        </template>
        <template v-slot:content>
            <p>Ответ: сначала <code>1</code>, затем <code>2</code>.</p>
            <ol>
                <li>Первый оператор ИЛИ <code>||</code> выполнит первый <code>alert(1)</code>.</li>
                <li>Получит <code>undefined</code> и пойдёт дальше, ко второму операнду в поисках истинного значения.</li>
                <li>Так как второй операнд <code>2</code> является истинным, то вычисления завершатся, результатом <code>undefined || 2</code> будет <code>2</code>, которое будет выведено внешним <code>alert( .... )</code>.</li>
            </ol>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>60</template>
        <template v-slot:title>
            Что выведет код ниже?
            <pre><code class="language-javascript hljs">alert( alert(<span class="hljs-number">1</span>) &amp;&amp; alert(<span class="hljs-number">2</span>) );</code></pre>
        </template>
        <template v-slot:content>
            <p>Ответ: <code>1</code>, а затем <code>undefined</code>.</p>
            <p>Вызов <code>alert</code> не возвращает значения, или, иначе говоря, возвращает <code>undefined</code>.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>61</template>
        <template v-slot:title>
            <p>Какие из перечисленных ниже <code>alert</code> выполнятся?</p>
            <p>Какие конкретно значения будут результатами выражений в условиях <code>if(...)</code>?</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">if</span> (<span class="hljs-number">-1</span> || <span class="hljs-number">0</span>) alert( <span class="hljs-string">'first'</span> );
<span class="hljs-keyword">if</span> (<span class="hljs-number">-1</span> &amp;&amp; <span class="hljs-number">0</span>) alert( <span class="hljs-string">'second'</span> );
<span class="hljs-keyword">if</span> (<span class="hljs-literal">null</span> || <span class="hljs-number">-1</span> &amp;&amp; <span class="hljs-number">1</span>) alert( <span class="hljs-string">'third'</span> );</code></pre>
        </template>
        <template v-slot:content>
            <pre><code class="language-javascript hljs"><span class="hljs-comment">// Выполнится.</span>
<span class="hljs-comment">// Результат -1 || 0 = -1, в логическом контексте true</span>
<span class="hljs-keyword">if</span> (<span class="hljs-number">-1</span> || <span class="hljs-number">0</span>) alert( <span class="hljs-string">'first'</span> );

<span class="hljs-comment">// Не выполнится</span>
<span class="hljs-comment">// -1 &amp;&amp; 0 = 0,  в логическом контексте false</span>
<span class="hljs-keyword">if</span> (<span class="hljs-number">-1</span> &amp;&amp; <span class="hljs-number">0</span>) alert( <span class="hljs-string">'second'</span> );

<span class="hljs-comment">// Выполнится</span>
<span class="hljs-comment">// оператор &amp;&amp; имеет больший приоритет, чем ||</span>
<span class="hljs-comment">// так что -1 &amp;&amp; 1 выполнится раньше</span>
<span class="hljs-comment">// вычисления: null || -1 &amp;&amp; 1  -&gt;  null || 1  -&gt;  1</span>
<span class="hljs-keyword">if</span> (<span class="hljs-literal">null</span> || <span class="hljs-number">-1</span> &amp;&amp; <span class="hljs-number">1</span>) alert( <span class="hljs-string">'third'</span> );</code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>62</template>
        <template v-slot:title>
            Что делает <code>??</code>?
        </template>
        <template v-slot:content>
            <p><code>Оператор нулевого слияния (??)</code></p>
            <p><code>a ?? b</code></p>
            <ul>
                <li>если <code>a</code> определено, то <code>a</code>,</li>
                <li>если <code>a</code> не определено, то <code>b</code>.</li>
            </ul>
            <p>Иначе говоря, оператор <code>??</code> возвращает первый аргумент, если он не <code>null/undefined</code>, иначе второй.</p>
            <p>Вот как можно переписать выражение <code>result = a ?? b</code>, используя уже знакомые нам операторы:</p>
            <pre><code class="language-javascript hljs">result = (a !== <span class="hljs-literal">null</span> &amp;&amp; a !== <span class="hljs-literal">undefined</span>) ? a : b;</code></pre>
            <p>Пример:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> user;

alert(user ?? <span class="hljs-string">"Аноним"</span>); <span class="hljs-comment">// Аноним (user не существует)</span></code></pre>
            <p>А вот пример, когда <code>user</code> присвоено значение:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> user = <span class="hljs-string">"Иван"</span>;

alert(user ?? <span class="hljs-string">"Аноним"</span>); <span class="hljs-comment">// Иван (user существует)</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>63</template>
        <template v-slot:title>
            В чем различия между <code>||</code> и <code>??</code>?
        </template>
        <template v-slot:content>
            <ul>
                <li><code>||</code> возвращает первое <b>истинное</b> значение.</li>
                <li><code>??</code> возвращает первое <b>определённое</b> значение.</li>
            </ul>
            <p>Проще говоря, оператор <code>||</code> не различает <code>false</code>, <code>0</code>, пустую строку <code>""</code> и <code>null/undefined</code>. Для него они все одинаковы, т.е. являются ложными значениями. Если первым аргументом для оператора <code>||</code> будет любое из перечисленных значений, то в качестве результата мы получим второй аргумент.</p>
            <p>Однако на практике часто требуется использовать значение по умолчанию только тогда, когда переменная является <code>null/undefined</code>. Ведь именно тогда значение действительно неизвестно/не определено.</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> height = <span class="hljs-number">0</span>;

alert(height || <span class="hljs-number">100</span>); <span class="hljs-comment">// 100</span>
alert(height ?? <span class="hljs-number">100</span>); <span class="hljs-comment">// 0</span></code></pre>
            <ul>
                <li><code>height || 100</code> проверяет <code>height</code> на ложное значение, оно равно <code>0</code>, да, ложное, поэтому результатом <code>||</code> является второй аргумент, т.е. <code>100</code>.</li>
                <li><code>height ?? 100</code> проверяет, что переменная <code>height</code> содержит <code>null/undefined</code>, а поскольку это не так, то результатом является сама переменная <code>height</code>, т.е. <code>0</code>.</li>
            </ul>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>64</template>
        <template v-slot:title>
            Можно ли использовать <code>??</code> вместе с <code>&&</code> или <code>||</code>?
        </template>
        <template v-slot:content>
            <p>По соображениям безопасности JavaScript запрещает использование оператора <code>??</code> вместе с <code>&&</code> и <code>||</code>, если приоритет явно не указан при помощи круглых скобок.</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> x = <span class="hljs-number">1</span> &amp;&amp; <span class="hljs-number">2</span> ?? <span class="hljs-number">3</span>; <span class="hljs-comment">// Синтаксическая ошибка</span></code></pre>
            <p>Используйте скобки, чтобы обойти это ограничение:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> x = (<span class="hljs-number">1</span> &amp;&amp; <span class="hljs-number">2</span>) ?? <span class="hljs-number">3</span>; <span class="hljs-comment">// Работает без ошибок</span>

alert(x); <span class="hljs-comment">// 2</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>65</template>
        <template v-slot:title>
            Что делает <code>??=</code>?
        </template>
        <template v-slot:content>
            <p><code>Оператор нулевого присваивания (??=)</code></p>
            <p>Предположим, нам необходимо проверить, равна ли переменная <code>null</code> или <code>undefined</code>, и если это так — присвоить этой переменной какое-либо другое значение.</p>
            <p>Вот как мы сделали бы это сейчас:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> userAge = <span class="hljs-literal">null</span>;

<span class="hljs-keyword">if</span> (userAge === <span class="hljs-literal">null</span> || userAge === <span class="hljs-literal">undefined</span>) {
  userAge = <span class="hljs-number">18</span>;
}</code></pre>
            <p>А вот с использованием <code>??=</code></p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> userAge = <span class="hljs-literal">null</span>;

userAge ??= <span class="hljs-number">18</span>;

alert(userAge) <span class="hljs-comment">// 18</span></code></pre>
            <p>Синтаксис:</p>
            <pre><code class="language-javascript hljs">x ??= y</code></pre>
            <p>Оператор <code>??=</code> присвоит <code>x</code> значение <code>y</code> только в том случае, если <code>x</code> не определено (<code>null/undefined</code>).</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>66</template>
        <template v-slot:title>
            Как работает алгоритм цикла <code>for</code>? (Какая последовательность)
        </template>
        <template v-slot:content>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">for</span> (начало; условие; шаг) {
  <span class="hljs-comment">// ... тело цикла ...</span>
}</code></pre>
            <br>
            <pre><code class="language-javascript hljs">Выполнить начало
→ (Если условие == <span class="hljs-literal">true</span> → Выполнить тело, Выполнить шаг)
→ (Если условие == <span class="hljs-literal">true</span> → Выполнить тело, Выполнить шаг)
→ (Если условие == <span class="hljs-literal">true</span> → Выполнить тело, Выполнить шаг)
→ ...</code></pre>
            <p>То есть, <code>начало</code> выполняется один раз, а затем каждая итерация заключается в проверке <code>условия</code>, после которой выполняется <code>тело</code> и <code>шаг</code>.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>67</template>
        <template v-slot:title>
            Обязательно ли объявлять переменную (счетчик) внутри цикла <code>for</code> или можно использовать существующую?
        </template>
        <template v-slot:content>
            <p>Можно объявлять как внутри, так и использовать существующую. Разница лишь в том, что в первом случае переменная будет существовать только внутри цикла. Это так называемое «встроенное» объявление переменной.</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">3</span>; i++) {
  alert(i); <span class="hljs-comment">// 0, 1, 2</span>
}
alert(i); <span class="hljs-comment">// ошибка, нет такой переменной</span></code></pre>
            <p>Вместо объявления новой переменной мы можем использовать уже существующую:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>;

<span class="hljs-keyword">for</span> (i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">3</span>; i++) { <span class="hljs-comment">// используем существующую переменную</span>
  alert(i); <span class="hljs-comment">// 0, 1, 2</span>
}

alert(i); <span class="hljs-comment">// 3, переменная доступна, т.к. была объявлена снаружи цикла</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>68</template>
        <template v-slot:title>
            Можно ли пропускать части в цикле <code>for</code>?
        </template>
        <template v-slot:content>
            <p>Любая часть <code>for</code> может быть пропущена.</p>
            <p>Для примера, мы можем пропустить <code>начало</code> если нам ничего не нужно делать перед стартом цикла.</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; <span class="hljs-comment">// мы уже имеем объявленную i с присвоенным значением</span>

<span class="hljs-keyword">for</span> (; i &lt; <span class="hljs-number">3</span>; i++) { <span class="hljs-comment">// нет необходимости в "начале"</span>
  alert( i ); <span class="hljs-comment">// 0, 1, 2</span>
}</code></pre>
            <p>Можно убрать и <code>шаг</code>:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>;

<span class="hljs-keyword">for</span> (; i &lt; <span class="hljs-number">3</span>;) {
  alert( i++ );
}</code></pre>
            <p>Это сделает цикл аналогичным <code>while (i &#60; 3)</code>.</p>
            <p>А можно и вообще убрать всё, получив бесконечный цикл:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">for</span> (;;) {
  <span class="hljs-comment">// будет выполняться вечно</span>
}</code></pre>
            <p>При этом сами точки с запятой <code>;</code> обязательно должны присутствовать, иначе будет ошибка синтаксиса.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>69</template>
        <template v-slot:title>
            В каких(ом) циклах(е) нельзя использовать <code>break</code> и <code>continue</code>?
        </template>
        <template v-slot:content>
            <p><code>forEach</code></p>
            <p>В остальных <code>for</code>, <code>for...in</code>, <code>for...of</code>, <code>while</code>, <code>do...while</code> можно.</p>
            <p>А вообще <code>forEach</code> это не цикл, это метод массива. Раньше я думал, что это цикл, отсюда у меня и путанница, почему в нем нельзя <code>break</code> и <code>continue</code>, но теперь все встало на свои места=)</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>70</template>
        <template v-slot:title>
            Для чего используется директива <code>continue</code>?
        </template>
        <template v-slot:content>
            <p>При её выполнении цикл не прерывается, а переходит к следующей итерации (если условие все ещё равно <code>true</code>).</p>
            <p>Например, цикл ниже использует continue, чтобы выводить только нечётные значения:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">10</span>; i++) {

  <span class="hljs-comment">// если true, пропустить оставшуюся часть тела цикла</span>
  <span class="hljs-keyword">if</span> (i % <span class="hljs-number">2</span> == <span class="hljs-number">0</span>) <span class="hljs-keyword">continue</span>;

  alert(i); <span class="hljs-comment">// 1, затем 3, 5, 7, 9</span>
}</code></pre>
            <h3>Директива <code>continue</code> позволяет избегать вложенности</h3>
            <p>Цикл, который обрабатывает только нечётные значения, мог бы выглядеть так:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">10</span>; i++) {

  <span class="hljs-keyword">if</span> (i % <span class="hljs-number">2</span>) {
    alert( i );
  }

}</code></pre>
            <p>С технической точки зрения он полностью идентичен. Действительно, вместо <code>continue</code> можно просто завернуть действия в блок <code>if</code>.</p>
            <p>Однако мы получили дополнительный уровень вложенности фигурных скобок. Если код внутри <code>if</code> более длинный, то это ухудшает читаемость, в отличие от варианта с <code>continue</code>.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>71</template>
        <template v-slot:title>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">3</span>; i++) {
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> j = <span class="hljs-number">0</span>; j &lt; <span class="hljs-number">3</span>; j++) {

    <span class="hljs-keyword">let</span> input = prompt(<span class="hljs-string">`Значение на координатах (<span class="hljs-subst">${i}</span>,<span class="hljs-subst">${j}</span>)`</span>, <span class="hljs-string">''</span>);

    <span class="hljs-comment">// Что если мы захотим перейти к Готово (ниже) прямо отсюда?</span>
    <span class="hljs-comment">// если пустая строка или Отмена, то выйти из обоих циклов</span>
  }
}

alert(<span class="hljs-string">'Готово!'</span>);</code></pre>
        </template>
        <template v-slot:content>
            <pre><code class="language-javascript hljs">outer: <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">3</span>; i++) {

  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> j = <span class="hljs-number">0</span>; j &lt; <span class="hljs-number">3</span>; j++) {

    <span class="hljs-keyword">let</span> input = prompt(<span class="hljs-string">`Значение на координатах (<span class="hljs-subst">${i}</span>,<span class="hljs-subst">${j}</span>)`</span>, <span class="hljs-string">''</span>);

    <span class="hljs-comment">// если пустая строка или Отмена, то выйти из обоих циклов</span>
    <span class="hljs-keyword">if</span> (!input) <span class="hljs-keyword">break</span> outer; <span class="hljs-comment">// (*)</span>

    <span class="hljs-comment">// сделать что-нибудь со значениями...</span>
  }
}

alert(<span class="hljs-string">'Готово!'</span>);</code></pre>
            <p>Обычный <code>break</code> после <code>input</code> лишь прервёт внутренний цикл, но этого недостаточно. Достичь желаемого поведения можно с помощью меток.</p>
            <p>Метка имеет вид идентификатора с двоеточием перед циклом.</p>
            <p>Вызов <code>break labelName</code> в цикле ниже ищет ближайший внешний цикл с такой меткой и переходит в его конец.</p>
            <p>В примере выше это означает, что вызовом <code>break outer</code> будет разорван внешний цикл до метки с именем <code>outer</code>.</p>
            <p>Таким образом управление перейдёт со строки, помеченной <code>(*)</code>, к <code>alert('Готово!')</code>.</p>
            <p>Можно размещать метку на отдельной строке:</p>
            <pre><code class="language-javascript hljs">outer:
<span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">3</span>; i++) { ... }</code></pre>
            <h3>Директива <code>continue</code> также может быть использована с меткой. В этом случае управление перейдёт на следующую итерацию цикла с меткой.</h3>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>72</template>
        <template v-slot:title>
            Как работает конструкция <code>switch</code>?
        </template>
        <template v-slot:content>
            <p>Конструкция <code>switch</code> заменяет собой сразу несколько <code>if</code>.</p>
            <p>Конструкция <code>switch</code> имеет один или более блок <code>case</code> и необязательный блок <code>default</code>.</p>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">switch</span>(x) {
  <span class="hljs-keyword">case</span> <span class="hljs-string">'value1'</span>:  <span class="hljs-comment">// if (x === 'value1')</span>
    ...
    [<span class="hljs-keyword">break</span>]

  <span class="hljs-keyword">case</span> <span class="hljs-string">'value2'</span>:  <span class="hljs-comment">// if (x === 'value2')</span>
    ...
    [<span class="hljs-keyword">break</span>]

  <span class="hljs-attr">default</span>:
    ...
    [<span class="hljs-keyword">break</span>]
}</code></pre>
            <h3><code>Переменная x проверяется на строгое равенство со значениями!</code></h3>
            <h3>Если <code>break</code> нет, то выполнение пойдёт ниже по следующим <code>case</code>, при этом остальные проверки игнорируются.</h3>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> a = <span class="hljs-number">2</span> + <span class="hljs-number">2</span>;

<span class="hljs-keyword">switch</span> (a) {
  <span class="hljs-keyword">case</span> <span class="hljs-number">3</span>:
    alert( <span class="hljs-string">'Маловато'</span> );
  <span class="hljs-keyword">case</span> <span class="hljs-number">4</span>:
    alert( <span class="hljs-string">'В точку!'</span> );
  <span class="hljs-keyword">case</span> <span class="hljs-number">5</span>:
    alert( <span class="hljs-string">'Перебор'</span> );
  <span class="hljs-keyword">default</span>:
    alert( <span class="hljs-string">"Нет таких значений"</span> );
}</code></pre>
            <p>В примере выше последовательно выполнятся три <code>alert</code>:</p>
            <pre><code class="language-javascript hljs">alert( <span class="hljs-string">'В точку!'</span> );
alert( <span class="hljs-string">'Перебор'</span> );
alert( <span class="hljs-string">"Нет таких значений"</span> );</code></pre>
            <h3>И <code>switch</code> и <code>case</code> допускают любое выражение в качестве аргумента.</h3>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> a = <span class="hljs-string">"1"</span>;
<span class="hljs-keyword">let</span> b = <span class="hljs-number">0</span>;

<span class="hljs-keyword">switch</span> (+a) {
  <span class="hljs-keyword">case</span> b + <span class="hljs-number">1</span>:
    alert(<span class="hljs-string">"Выполнится, т.к. значением +a будет 1, что в точности равно b+1"</span>);
    <span class="hljs-keyword">break</span>;

  <span class="hljs-keyword">default</span>:
    alert(<span class="hljs-string">"Это не выполнится"</span>);
}</code></pre>
            <h3>Несколько вариантов <code>case</code>, использующих один код, можно группировать.</h3>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> a = <span class="hljs-number">3</span>;

<span class="hljs-keyword">switch</span> (a) {
  <span class="hljs-keyword">case</span> <span class="hljs-number">4</span>:
    alert(<span class="hljs-string">'Правильно!'</span>);
    <span class="hljs-keyword">break</span>;

  <span class="hljs-keyword">case</span> <span class="hljs-number">3</span>: <span class="hljs-comment">// (*) группируем оба case</span>
  <span class="hljs-keyword">case</span> <span class="hljs-number">5</span>:
    alert(<span class="hljs-string">'Неправильно!'</span>);
    alert(<span class="hljs-string">"Может вам посетить урок математики?"</span>);
    <span class="hljs-keyword">break</span>;

  <span class="hljs-keyword">default</span>:
    alert(<span class="hljs-string">'Результат выглядит странновато. Честно.'</span>);
}</code></pre>
            <p>Теперь оба варианта <code>3</code> и <code>5</code> выводят одно сообщение.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>73</template>
        <template v-slot:title>
            Видны ли переменные объявленные внутри функции снаружи функции?
        </template>
        <template v-slot:content>
            <p>Переменные, объявленные внутри функции, видны только внутри этой функции.</p>
            <pre><code class="language-javascript hljs"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showMessage</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">let</span> message = <span class="hljs-string">"Привет, я JavaScript!"</span>; <span class="hljs-comment">// локальная переменная</span>

  alert( message );
}

showMessage(); <span class="hljs-comment">// Привет, я JavaScript!</span>

alert( message ); <span class="hljs-comment">// &lt;-- будет ошибка, т.к. переменная видна только внутри функции</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>74</template>
        <template v-slot:title>
            <p>Изменится ли глобальная переменная если передать ее в качестве параметра функции и изменить внутри данной функции?</p>
            <pre><code class="language-javascript hljs"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showMessage</span>(<span class="hljs-params">from, text</span>) </span>{
  <span class="hljs-keyword">from</span> = <span class="hljs-string">'Вася'</span>; <span class="hljs-comment">// изменим "from"</span>

  <span class="hljs-built_in">console</span>.log( <span class="hljs-keyword">from</span> + <span class="hljs-string">': '</span> + text ); <span class="hljs-comment">// ???</span>
}

<span class="hljs-keyword">let</span> <span class="hljs-keyword">from</span> = <span class="hljs-string">"Аня"</span>;

showMessage(<span class="hljs-keyword">from</span>, <span class="hljs-string">"Привет"</span>);

<span class="hljs-built_in">console</span>.log( <span class="hljs-keyword">from</span> ); <span class="hljs-comment">// ???</span></code></pre>
        </template>
        <template v-slot:content>
            <p>Это изменение не видно снаружи. Функция всегда получает только копию значения:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showMessage</span>(<span class="hljs-params">from, text</span>) </span>{
  <span class="hljs-keyword">from</span> = <span class="hljs-string">'Вася'</span>; <span class="hljs-comment">// изменим "from"</span>

  <span class="hljs-built_in">console</span>.log( <span class="hljs-keyword">from</span> + <span class="hljs-string">': '</span> + text ); <span class="hljs-comment">// Вася: Привет</span>
}

<span class="hljs-keyword">let</span> <span class="hljs-keyword">from</span> = <span class="hljs-string">"Аня"</span>;

showMessage(<span class="hljs-keyword">from</span>, <span class="hljs-string">"Привет"</span>);

<span class="hljs-comment">// значение "from" осталось прежним, функция изменила значение локальной переменной</span>
<span class="hljs-built_in">console</span>.log( <span class="hljs-keyword">from</span> ); <span class="hljs-comment">// Аня</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>75</template>
        <template v-slot:title>
            Что такое параметр и аргумент функции?
        </template>
        <template v-slot:content>
            <ul>
                <li><code>Параметр</code> – это переменная, указанная в круглых скобках в объявлении функции.</li>
                <li><code>Аргумент</code> – это значение, которое передаётся функции при её вызове.</li>
            </ul>
            <p>Мы объявляем функции со списком параметров, затем вызываем их, передавая аргументы.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>76</template>
        <template v-slot:title>
            Чему будет равен параметр функции, если при вызове данной функции он не был указан?
            <pre><code class="language-javascript hljs"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showMessage</span>(<span class="hljs-params">text</span>) </span>{
  <span class="hljs-built_in">console</span>.log( text );
}

showMessage();</code></pre>
        </template>
        <template v-slot:content>
            <code>undefined</code>
            <p>Это не приведёт к ошибке.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>77</template>
        <template v-slot:title>
            <p>Можно ли параметру функции по умолчанию указать другую функцию?</p>
            <pre><code class="language-javascript hljs"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showMessage</span>(<span class="hljs-params">from, text = anotherFunction(</span>)) </span>{
  <span class="hljs-comment">// ...code...</span>
}</code></pre>
        </template>
        <template v-slot:content>
            <p>Да, можно. <code>anotherFunction()</code> вызовется только если не передан <code>text</code></p>
            <p>В JavaScript параметры по умолчанию вычисляются каждый раз, когда функция вызывается без соответствующего параметра.</p>
            <p>В приведённом выше примере, функция <code>anotherFunction()</code> не будет вызвана вообще, если указан параметр <code>text</code>.</p>
            <p>С другой стороны, функция будет независимо вызываться каждый раз, когда <code>text</code> отсутствует.</p>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>78</template>
        <template v-slot:title>
            Какое значение вернет функция с пустым <code>return</code> или без него?
        </template>
        <template v-slot:content>
            <p><code>undefined</code></p>
            <p>Если функция не возвращает значения, это всё равно, как если бы она возвращала <code>undefined</code>:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">doNothing</span>(<span class="hljs-params"></span>) </span>{ <span class="hljs-comment">/* пусто */</span> }

alert( doNothing() === <span class="hljs-literal">undefined</span> ); <span class="hljs-comment">// true</span></code></pre>
            <p>Пустой <code>return</code> аналогичен <code>return undefined</code>:</p>
            <pre><code class="language-javascript hljs"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">doNothing</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">return</span>;
}

alert( doNothing() === <span class="hljs-literal">undefined</span> ); <span class="hljs-comment">// true</span></code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>79</template>
        <template v-slot:title>
            Что такое Function Declaration и Function Expression?
        </template>
        <template v-slot:content>
            <code>Function Declaration</code>
            <pre><code class="language-javascript hljs"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">sayHi</span>(<span class="hljs-params"></span>) </span>{
  alert( <span class="hljs-string">"Привет"</span> );
}</code></pre>
            <br>
            <code>Function Expression</code>
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> sayHi = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
  alert( <span class="hljs-string">"Привет"</span> );
};</code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>80</template>
        <template v-slot:title>
            Отличия Function Declaration от Function Expression?
        </template>
        <template v-slot:content>
            <h3><code>1. Синтаксис</code></h3>
            <h3><code>2. Function Expression создаётся, когда выполнение доходит до него, и затем уже может использоваться. Function Declaration может быть вызвана раньше, чем она объявлена.</code></h3>
            <pre><code class="language-javascript hljs">sayHi(<span class="hljs-string">"Вася"</span>); <span class="hljs-comment">// Привет, Вася</span>

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">sayHi</span>(<span class="hljs-params">name</span>) </span>{
  alert( <span class="hljs-string">`Привет, <span class="hljs-subst">${name}</span>`</span> );
}</code></pre>
            <br>
            <pre><code class="language-javascript hljs">sayHi(<span class="hljs-string">"Вася"</span>); <span class="hljs-comment">// ошибка!</span>

<span class="hljs-keyword">let</span> sayHi = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">name</span>) </span>{  <span class="hljs-comment">// (*) магии больше нет</span>
  alert( <span class="hljs-string">`Привет, <span class="hljs-subst">${name}</span>`</span> );
};</code></pre>
        </template>
    </QuestionItem>

    <QuestionItem>
        <template v-slot:counter>81</template>
        <template v-slot:title>
            Может ли имя свойства объекта состоять из нескольких слов?
            <pre><code class="language-javascript hljs"><span class="hljs-keyword">let</span> user = {
  <span class="hljs-string">"likes birds"</span>: <span class="hljs-literal">true</span>
};</code></pre>
        </template>
        <template v-slot:content>
            Имя свойства может состоять из нескольких слов, но тогда оно должно быть заключено в кавычки
        </template>
    </QuestionItem>

    <!--
    <QuestionItem>
        <template v-slot:counter>0</template>
        <template v-slot:title>
            Title
        </template>
        <template v-slot:content>
            Content
        </template>
    </QuestionItem>
    -->

    <!-- < = &#60; -->
</template>

<script setup lang="ts">
import QuestionItem from '@/components/QuestionItem.vue';
</script>

<style lang="less"></style>
