<template>
    <div class="navigation">
        <div class="navigation__inner">
            <RouterLink class="navigation__item" :to="{name: 'js'}">JS</RouterLink>
            <RouterLink class="navigation__item" :to="{name: 'js-tasks'}">JS Tasks</RouterLink>
        </div>
    </div>
</template>

<script setup lang="ts"></script>

<style lang="less">
.navigation {
    background-color: @white;
    padding: 10px 0;
    margin-bottom: 16px;

    &__inner {
        display: flex;
        align-items: center;
        gap: 16px;
        max-width: 1200px;
        padding: 0 16px;
        margin: 0 auto;
    }

    &__item {
        color: @black;
        text-transform: uppercase;
        text-decoration: none;
    }
}
</style>
