<template>
    <div class="questionItem">
        <div class="questionItem__titleContainer" @click="show = !show">
            <span class="questionItem__counter">
                <slot name="counter"></slot>
            </span>
            <h3 class="questionItem__title">
                <slot name="title"></slot>
            </h3>
        </div>
        <div class="questionItem__content" v-if="show">
            <slot name="content"></slot>
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const show = ref<boolean>(false)
</script>

<style lang="less">
.questionItem {
    border: 3px solid @border;
    border-radius: 6px;
    margin: 16px 0;
    padding: 10px;
    position: relative;

    &__titleContainer {
        cursor: pointer;
        transition: color ease .2s;
        padding-left: 30px;
        &:hover {
            color: @accent;
        }
    }

    &__counter {
        background-color: @blue;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 600;
        color: @white;
        text-align: center;
        line-height: 25px;
        position: absolute;
        top: -3px;
        left: -3px;
        height: 25px;
        width: 30px;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        code, code.hljs {
            font-weight: normal;
        }
    }

    &__content {
        border-top: 1px solid @border;
        font-size: 14px;
        padding-top: 15px;
        margin-top: 15px;
    }
}
</style>
