* {
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #fff;
}

body {
	background-color: #232529;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

img, fieldset, a img {
	border: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

a {
	color: #3D4ACC;
	transition: color ease .3s;
	&:hover {
		color: #4555EE;
	}
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	appearance: none;
}

input[type='submit'],
button {
	appearance: none;
	cursor: pointer;
}

textarea {
	overflow: auto;
}

input, button {
	margin: 0;
	padding: 0;
	border: 0;
}

div, input, textarea, select,button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
	outline: none;
}

ul, ol {
	list-style-type: none;
}
ul, ol {
	margin: 15px;
}
ul li, ol li {
	padding-left: 15px;
	position: relative;
	margin-bottom: 5px;
}
ol li {
	padding-left: 20px;
}
ul li:last-of-type,
ol li:last-of-type {
	margin-bottom: 0;
}
ul li ul,
ol li ol {
	margin: 5px 15px 0;
}
ul li:before {
	content: '';
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 6px;
	left: 0;
	height: 5px;
	width: 5px;
}

ol {
	counter-reset: ol-counter;
}
ol li:before {
	counter-increment: ol-counter;
	content: counter(ol-counter) ".";
	position: absolute;
	top: 0;
	left: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

code:not(.hljs) {
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	padding: 2px 4px;
}

p {
	margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 15px 0;
}

blockquote {
	font-style: italic;
	color: #f0c674;
	margin: 20px 0 20px 20px;
	border-left: 5px solid #f0c674;
	padding-left: 30px;
	line-height: 1.4em;
	position: relative;
}

.table {
	overflow-x: auto;
	table {
		font-size: 14px;
		text-align: left;
		border-collapse: collapse;
		background: #252F48;
		margin: 10px 0;
		width: 100%;
		th {
			color: #EDB749;
			border-bottom: 1px solid #37B5A5;
			padding: 12px 17px;
		}
		td {
			color: #CAD4D6;
			border-bottom: 1px solid #37B5A5;
			border-right:1px solid #37B5A5;
			padding: 7px 17px;
			&:last-child {
				border-right: none;
			}
		}
		tr:last-child td {
			border-bottom: none;
		}
	}
}

details {
	border: 1px dashed #f0c674;
	padding: 15px;
	margin: 20px 0;
	summary {
		font-weight: bold;
		color: #f0c674;
	}
	> div {
		margin-top: 15px;
	}
}

.separator {
	background: #b5bd68;
	border-color: transparent;
	display: block;
	margin: 50px 0;
	height: 30px;
}
