<template>
    <NavigationComponent />

    <div class="main">
        <RouterView/>
    </div>
</template>

<script setup lang="ts">
import NavigationComponent from '@/components/NavigationComponent.vue';
</script>

<style lang="less">
.main {
    max-width: 1200px;
    font-size: 16px;
    padding: 0 16px;
    margin: 0 auto;
}
</style>
